<div class="container">
  <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" >
        <h1>Login</h1>
        <button class="btn btn-primary" (click)="loginFB()"> Login using Facebook </button>
        <button class="btn btn-success" (click)="loginGoogle()" > Login using Google </button>
        <a routerLink="/signup" routerLinkActive="active">Need Account?</a>
        <a routerLink="/email" routerLinkActive="active">Email Signin</a>
        
    </div>
    
    <div class="col-md-4"></div>
    
  </div>
</div>
</div>